version: '3.4'

services:
  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /Share/mongodb:/data/db
    restart: unless-stopped
  web:
    build:
      context: .
      args:
        - JAR_FILE=build/libs/*.jar
    ports: 
      - "8388:8080"
    restart: unless-stopped


